*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container{
    width: 100vw;
    height: 100vh;
    background: #212121;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container img{
    max-width: 50vw;
    max-height: 50vh;
}

.creator{
    font-size: 20px;
    color: white;
    margin-top: 0.6rem;
    text-decoration: 2px solid underline;
}

.title{
    background-color: white;
    max-height: 30vh;
    width: auto;
    max-width: 70vw;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

#btn{
    margin-top: 0.6rem;
    border: none;
    font-size: 1.5rem;
    height: 2.5rem;
    width: 12rem;
    border-radius: 2rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
}

#btn:hover{
    background-color: #212121;
    color: white;
    transition: all 0.3s linear;
}

@media (max-width : 500px){
    .container img{
        max-width: 85vw;
        max-height: auto;
    }

    .title{
        font-size: 1rem;
        max-height: 40vh;
        max-width: 80vw;
    }
}